@tailwind base;
@tailwind components;
@tailwind utilities;

/* Couleurs */
:root {
  /* Mode 1 */
  /* color */
  --accent-primaire: #c76d45;
  --accent-secondaire: #e6a07c;
  --background-principal: #fafaf8;
  --background-soft: #f2ece4;
  --background-succès: #e6f2ec;
  --bordure: #e0e0db;
  --couleur-primaire: #2f5d62;
  --couleur-secondaire: #9cc5a1;
  --erreur: #cc2a2a;
  --mise-en-garde: #f2b705;
  --succès: #5fb3a2;
  --texte-handicapé: #a8a8a8;
  --texte-primaire: #2e2e2e;
  --texte-secondaire: #6b6b6b;
}

/* Dégradés */
.gradient-logo {
  background: linear-gradient(135deg, #2f5d62 0%, #9cc5a1 100%);
}

.gradient-logo-border {
  position: relative;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(135deg, #2f5d62 0%, #9cc5a1 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 0.5rem;
}